@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.article {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

.form {
  width: 400px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
  padding: 16px;
  border-radius: 16px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.newAccountHeader {
  align-self: center;
}

.valid {
  color: rgb(13, 220, 13);
  margin: 3px;
}

.invalid {
  color: red;
  margin: 3px;
}

.inputErrors,
.inputSuccess {
  width: 400px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
  padding: 16px;
  border-radius: 16px;
  background: #fff;
  list-style-type: none;
}

.inputSuccess {
  text-align: center;
}

.userInput {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 5px;
}

.createButton {
  margin-top: 20px;
  font-family: inherit;
  border-radius: 16px;
  cursor: pointer;
}

.container {
  height: 300px;
  position: relative;
}
